<h1>Welcome to Rate-A-Recipe</h1>
<h2>This is one of our specialty websites from Stephenson Consulting</h2>
<p>In this site we will be able to add, edit, and search for receipesm as well as grade them for their tasteability.</p>